.calendar-card__container {
  max-width: 500px;
  width: 90%;
  margin: 1.5rem 0;
}

.calendar-card__contents {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calendar-card__contents span {
  align-items: start;
  opacity: 0.5;
}

.calendar-card__contents h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
