@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

:root {
  --color-clear-purple: #510077;
  --color-deep-purple: #625580;
  --color-middle-purple: #9c86cb;
  --color-light-purple: #eac1f8;
  --color-black: #292929;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans KR", "Open Sans", sans-serif;
}

body {
  margin: 0;
  background: #f8efed;
}

main {
  margin-bottom: 5rem;
}

.container {
  height: 100vh;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
